<div class="mt-3">
    <form method="POST" action="">
    <div class="mb-3">
        <label for="search-input" class="form-label">Searching</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa">
    </div>
    <div class="mb-3">
        <label for="gender-input" class="form-label">Searching</label>
        <select name="gender" class="form-control" id="gender-input" >
            <option value="">--gioi tinh--</option>
            <option value="male">nam</option>
            <option value="female">nu</option>
        </select>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
</div>